$white: #ffffff;
$blue: #1C7CF2;
$yellow: #f3e500;

.wrapper {
  background-color: lightcyan;
  width: calc(100%);
  height: calc(100vh - 50px - 20px);
  margin-top: 50px;
}

.recipient-observation {
  background-color: rgb(171, 171, 118);
  flex-direction: column;
  align-items: center;
}

section {
  display: table;
  background-color: lightblue;
  padding: 1rem;
}

.btn-send-notification {
  width: 100%;
  margin-top: 15px;
  border-radius: 8px;
  background-color: $blue !important;
  width: 333px;
  height: 45px;
  font-size: 12px;
}

.section-buttons {
  margin-top: 1rem;
  width: 333px;
  // background-color: blue;
  display: flex;
  justify-content: space-between;
  @media (max-width: 576px) {
  }
}


.btn-back {
  border-radius: 8px !important;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6) !important;
  background-color: $yellow !important;
  color: black !important;
}