<div class="morador-container">
  <h3>Cadastrar morador</h3>

  <div class="">
    <form [formGroup]="form" action="" class="d-flex form-morador">
      <mat-form-field>
        <mat-label>Nome:</mat-label>
        <input matInput formControlName="nome" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Bloco:</mat-label>
        <input matInput formControlName="bloco" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Apartamento:</mat-label>
        <input matInput formControlName="apartamento">
      </mat-form-field>
    </form>
    <section class="section-buttons">
      <button mat-flat-button class="btn-save" (click)="save()">Cadastrar</button>
      <button mat-flat-button class="btn-back" [routerLink]="['/home']">Voltar</button>
    </section>
  </div>

</div>
