
<div class="home-container">
  <section class="section-home">
    <!-- *ngIf="userService.getRole().includes('USER')"  -->
    <app-card-home
    class="home" [routerLink]="['/morador/cadastrar']" [name]="'Minhas encomendas'" [image]="'/assets/img/svg/box-blue-light.svg'">
    </app-card-home>

    <!-- *ngIf="userService.getRole().includes('ADMIN')"   -->
    <app-card-home
    class="home" [routerLink]="['/morador/cadastrar']" [name]="'Cadastrar Morador'" [image]="'/assets/img/svg/box-blue-light.svg'">
    </app-card-home>

    <!-- *ngIf="userService.getRole().includes('ADMIN')"  -->
    <app-card-home
    class="home" [routerLink]="['/morador/todos']" [name]="'Moradores'" [image]="'/assets/img/svg/box-blue-light.svg'">
    </app-card-home>

    <!-- *ngIf="userService.getRole().includes('ADMIN')"  -->
    <app-card-home
    class="home"
      [routerLink]="['/order-register']" [name]="'Registrar Encomenda'" [image]="'/assets/img/svg/box-blue-light.svg'">
    </app-card-home>

    <!-- *ngIf="userService.getRole().includes('ADMIN')"  -->
    <app-card-home
    class="home"
      [routerLink]="['/order-details/4']" [name]="'Cadastrar Morador'" [image]="'/assets/img/svg/box-blue-light.svg'">
    </app-card-home>
  </section>

  <div *ngIf="false">
    <form [formGroup]="form" action="" class="d-flex justify-content-center">
      <mat-form-field>
        <mat-label>CPF:</mat-label>
        <input matInput formControlName="cpf" >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Observação:</mat-label>
        <input matInput formControlName="cpf" >
      </mat-form-field>
    </form>
  </div>
</div>
