
<div class="home">
  <h1>Login Success!</h1>

  <h3>Minhas encomendas</h3>

  <section class="orders">
    <app-card-orders class="order" [routerLink]="['/order-details/1']"></app-card-orders>
    <app-card-orders class="order" [routerLink]="['/order-details/2']"></app-card-orders>
    <app-card-orders class="order" [routerLink]="['/order-details/3']"></app-card-orders>
    <app-card-orders class="order" [routerLink]="['/order-details/4']"></app-card-orders>
  </section>

  <div *ngIf="false">
    <form [formGroup]="form" action="" class="d-flex justify-content-center">
      <mat-form-field>
        <mat-label>CPF:</mat-label>
        <input matInput formControlName="cpf" >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Observação:</mat-label>
        <input matInput formControlName="cpf" >
      </mat-form-field>
    </form>
  </div>
</div>
