.page-wrapper {
  min-height: calc(100vh - 50px - 20px);
  height: calc(100vh - 50px - 20px);
  background: linear-gradient(#019eff 0%, #43d8e4 55%, #1fcdaa 92%);

  h1 {
    font-weight: 600;
    font-size: 40px;
  }
}

@media (max-width: 1024px) {
  .page-wrapper {
    height: unset;
  }
}

// aside {
//   width: 25% !important;
//   height: 100%;
//   background-color: blue;
//   position: absolute;
//   right: 0;
//   top: 50px;
//   z-index: 1;
// }
