.page-wrapper {
  min-height: calc(100vh - 50px - 20px);
  height: calc(100vh - 50px - 20px);
  // background-color: coral;
  // margin-top: 50px;

  h1 {
    font-weight: 600;
    font-size: 40px;
  }
}

@media (max-width: 1024px) {
  .page-wrapper {
    height: unset;
    // padding: 10px;
    // margin: 0 10px 10px 10px;
  }
}
