$white: #ffffff;

.footer {
  width: 100%;
  height: 20px;
  background-color: #1fcdaa;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: calc(100%);
  font-size: 12px;
  color: $white;
  padding: 0 .5rem;
}
