$white: #ffffff;
$blue: #1C7CF2;

.wrapper {
  width: 100vw;
  // height: 100vh;
  min-height: calc(100vh - 50px - 20px);
  height: calc(100vh - 50px - 20px);
  // background-color: red;
  margin: 0;
  padding: 0.5rem;
  box-sizing: border-box;
  background: linear-gradient(#019eff 0%, #43d8e4 55%, #1fcdaa 92%);
  overflow: hidden;
  margin-top: 50px;
  @media (max-width: 576px) {
    width: 100dvw;
    height: calc(100lvh - 50px - 20px);
  }
}

.box-login {
  margin-top: 3.875rem; // 62px
  display: flex;
  justify-content: center;
}

.title {
  margin: 1.625rem 0 3rem 0; //26px
  span {
    font-weight: bold;
    font-size: 48px;
    color: $white;
  }
}

/* INICIO - LOGIN E SENHA */
.cpf-password {
  // background-color: yellow;
  flex-direction: column;
  align-items: center;
  mat-form-field {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6) !important;
  }
}

.cpf-password mat-form-field + mat-form-field {
  // background-color: red;
}

/* FIM - LOGIN E SENHA */

/* INNICIO - ENTRAR */
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section {
  display: table;
}

.btn-login {
  width: 100%;
  margin-top: 15px;
  border-radius: 8px;
  background-color: $blue !important;
  width: 333px;
  height: 45px;
  font-size: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6) !important;
}
/* FIM - ENTRAR */

footer {
  // position: absolute;
  // bottom: 0;
  // display: flex;
  // justify-content: space-between;
  // width: calc(100% - 1rem);
  // font-size: 12px;
  // color: $white;
}
