.morador-container {
  padding: 100px 1rem 0 1rem;
  background-color: lightcoral;
  width: calc(100%);
  // height: calc(100vh - 50px - 20px);
  height: calc(100vh);
  @media (max-width: 576px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}