@import "font-awesome";

$white: #ffffff;
$blue: #1c7cf2;
$gray: #7B7B7B;

html,
body {
  height: 100%;
}

body {
  display: initial;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f4f4f4;
  font-size: 16px; /* Base size */
}

h1,
h2,
h3 {
  font-family: Kanit !important;
}

label {
  font-size: 0.75rem; // 12px
}

.pt-10 {
  padding-top: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.w-100 {
  width: 100% !important;
}

mat-form-field {
  width: 333px;
  // height: 45px !important;
  // box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6) !important;
  margin-bottom: 1.5rem;
  border-radius: 8px !important;
}

.mat-mdc-form-field-subscript-wrapper {
  height: 0 !important;
}

.mdc-text-field {
  border-radius: 8px !important;
  cursor: pointer;
}

.mat-mdc-form-field-infix {
  height: 50px !important;
  mat-label {
    color: $gray;
  }
}

.mdc-line-ripple {
  display: none;
}

.mat-mdc-form-field-flex {
  // height: 45px !important;
}

.mat-mdc-text-field-wrapper:hover .mat-mdc-form-field-focus-overlay { // INPUT
	opacity: 1 !important;
  background-color: light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) { // INPUT
  background-color: light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
}

.mat-mdc-form-field {
}

/* INICIO - MessageService */
.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
	border-radius: 5px !important;
	background-color: transparent !important;
	color: #fff !important;
	max-width: 50px !important;
	line-break: auto;
	@media (max-width: 576px) {
		max-width: 100% !important;
	}
}

.msg-success, .msg-error, .msg-info, .msg-warning {
  border-radius: 5px !important;
	position: relative;
	top: 111px; // baseado no height do header
	right: 8px;
	.mdc-button__label {
		color: #fff;
	}
	@media (max-width: 576px) {
		max-width: 100% !important;
		right: 0;
		top: 68px; // baseado no height do header
	}
}

.msg-success {
	// background-color: #198754 !important;
	background-color: #04AA6D !important;
}

.msg-error {
	// background-color: #dc3545 !important;
	background-color: #f44336 !important;
}

.msg-info {
	background-color: #2196F3 !important;
}

.msg-warning {
	background-color: #ff9800 !important;
}
/* FIM - MessageService */
