.header {
  width: 100%;
  height: 50px;
  background-color: #0ca7fb;
  position: fixed;
  top: 0;
}

.profile {
  // background-color: red;
  display: flex;
  justify-content: right;
  padding: 0.5rem;
  span {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    font-size: 14px;
    font-family: roboto;
    font-weight: 500;
  }

  &-img {
    cursor: pointer;
    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6) !important;
      border-radius: 35px;
    }
  }

  &-container-buttom {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    margin-top: 8px;
    height: 100vh;
    // width: 75px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 0.5rem;
    gap: 10px;
    .btn-logout {
      display: flex !important;
      border-radius: 8px;
      &:hover {
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.6) !important;
      }
    }
  }
}
